
<!-- Nav menu with user information -->
<nav class="navbar navbar-inverse navbar-fixed-top pmd-navbar pmd-z-depth">
	<div class="container-fluid">
		<!-- User information -->
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <a href="javascript:void(0);" class="navbar-brand navbar-brand-custome">{{title}}</a>
		</div>
	</div>
	<div class="pmd-sidebar-overlay"></div>
</nav>

<div class="pmd-card pmd-card-inverse pmd-z-depth-4">
    <table id="tableInverse" class="table pmd-table table-hover table-striped table-inverse display responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Rank</th>
                <th></th>
                <th>Grade</th>
                <th>views</th>
                <th>Channel name</th>
                <th>Uploads</th>
                <th> Subscribers</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.rank}}</td>
                <td></td>
                <td>{{this.grade}}</td>
                <td>{{this.views}}</td>
                <td>{{this.name}}</td>
                <td>{{this.uploads}}</td>
                <td>{{this.subscribers}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <p style="color:whitesmoke">© 2018 Copyright: MovieBuff.com</p>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->